    * {
      font-family: 'Open Sans', sans-serif;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100dvh;
      background-color: #000000;
    }

    body {
      background-color: #000000;
    }

    @media only screen and (min-width: 700px) {
      .container {
        display: flex;
        flex-direction: row;
        height: 100dvh;
        width: 100vw;
        background-color: #121212;
      }
      .display {
        line-height: 100dvh;
        overflow-x: wrap;
      }
    }

    .display {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 4rem;
      padding: 0.5rem;
      color: white;
      overflow-x: auto;
      /* white-space: nowrap; */
      display: inline-block;
      line-height: 30dvh;
      text-align: right;
    }

    .buttons {
      flex: 2;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 0.5rem;
      padding: 0.5rem;
      touch-action: manipulation;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 1.5rem;
      color: white;
      background-color: #004A77;
      -webkit-user-select: none;
      /* Safari */
      user-select: none;
      /* Standard syntax */
      touch-action: manipulation;
    }

    .button:hover {
      filter: brightness(0.9);
    }

    .button:active {
      filter: brightness(0.8);
    }

    .button.zero {
      /* grid-column: span 2; */
      -webkit-user-select: none;
      /* Safari */
      user-select: none;
      /* Standard syntax */
    }

    .button.equal {
      /* grid-row: span 2; */
      background-color: #4caf50;
    }

    .button.clear {
      background-color: #f44336;
    }